{{- $vidId := .vidId -}}
{{- $title := .title -}}
{{- $thumb := .thumb -}}
{{- $duration := .duration -}}

{{- $watch := printf "https://www.youtube.com/watch?v=%s" $vidId -}}

{{- $o := try (resources.GetRemote (printf "https://www.youtube.com/oembed?url=%s&format=json" ($watch | urlquery))) -}}
{{- with $o.Value -}}
  {{- $j := .Content | transform.Unmarshal -}}
  {{- $title = default $j.title $title -}}
  {{- $thumb = default $j.thumbnail_url $thumb -}}
{{- else -}}
  {{- with $o.Err -}}
    {{- warnf "No se pudo obtener oEmbed de YouTube para %q: %s" $vidId . -}}
  {{- end -}}
{{- end -}}

{{- $thumb = default (printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" $vidId) $thumb -}}

{{- if not $duration -}}
  {{- $body := jsonify (dict
    "context" (dict "client" (dict "hl" "es" "gl" "AR" "clientName" "WEB" "clientVersion" "2.20220916.00.00" "clientScreen" "WATCH"))
    "videoId" $vidId
  ) -}}

  {{- $headers := dict
    "Content-Type" "application/json"
    "User-Agent" "Mozilla/5.0"
    "Origin" "https://www.youtube.com"
    "Referer" "https://www.youtube.com/"
  -}}

  {{- $resp := try (resources.GetRemote
    "https://www.youtube.com/youtubei/v1/player?key=AIzaSyAO_FJ2SlqU8Q4STEHLGCilw_Y9_11qcW8&prettyPrint=false"
    (dict "method" "POST" "headers" $headers "body" $body)
  ) -}}

  {{- with $resp.Value -}}
    {{- $data := .Content | transform.Unmarshal -}}
    {{- with $data.videoDetails -}}
      {{- $sec := int .lengthSeconds -}}
      {{- $h := div $sec 3600 -}}
      {{- $m := div (mod $sec 3600) 60 -}}
      {{- $s := mod $sec 60 -}}
      {{- $duration = cond (gt $h 0) (printf "%d:%02d:%02d" $h $m $s) (printf "%d:%02d" $m $s) -}}
    {{- end -}}
  {{- else -}}
    {{- with $resp.Err -}}
      {{- warnf "No se pudo obtener metadata de YouTube para %q: %s" $vidId . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- return (dict "title" $title "thumb" $thumb "duration" $duration) -}}
